<img src="/assets/img/ang16/33ng-template/01.png" alt="">
<img src="/assets/img/ang16/33ng-template/02.png" alt="">
<p>
 but the ng template is not displaying
</p>
<p class="descrip">
 because using this ng template we are only defining 
 a template, now it is our job to tell angular where and when display 
 this template
</p>
<p>
 for showin that template
</p>
<img src="/assets/img/ang16/33ng-template/03.png" alt="">
<p>other usage of it</p>
<img src="/assets/img/ang16/33ng-template/04.png" width="100%" alt="">










