<img src="/assets/img/ang16/31viewchild/01.png" alt="">
<img src="/assets/img/ang16/31viewchild/02.png" alt="">
<img src="/assets/img/ang16/31viewchild/03.png" alt="">
<h4>
 so here the component class will receive a reference to this 
 input element only after the button is clicked
</h4>
<p class="descrip">
 but sometimes we want we might want to access a DOM element 
 withouit waiting for some event to happen
</p>
<p>
 for that import viewchild from angular core 
</p>
<img src="/assets/img/ang16/31viewchild/04.png" alt="">
<img src="/assets/img/ang16/31viewchild/05.png" alt="">
