<p class="mark2">
 As we have learned earlier in a template driven form we do 
 everything in the html template
</p>
<img src="/assets/img/ang16/117FormValidationtemplateDrivenForm/01.png" alt="">
<img src="/assets/img/ang16/117FormValidationtemplateDrivenForm/02.png" alt="">
<h2>118 Showing Custom Validation Error Messages</h2>
<img src="/assets/img/ang16/117FormValidationtemplateDrivenForm/03.png" alt="">
<img src="/assets/img/ang16/117FormValidationtemplateDrivenForm/04.png" alt="">









