<img src="/assets/img/ang16/93RetrievingRouteParameterValue/01.png" alt="">
<img src="/assets/img/ang16/93RetrievingRouteParameterValue/02.png" alt="">
<img src="/assets/img/ang16/93RetrievingRouteParameterValue/03.png" alt="">
<img src="/assets/img/ang16/93RetrievingRouteParameterValue/04.png" alt="">
<p class="mark">
 but id changed but the view don't changed
</p>
<p class="mark3">
 the currently active route is changing, but snapshot property is 
 not aware about this change
</p>
<p>
 for that we are going to use obsevable
</p>
<img src="/assets/img/ang16/93RetrievingRouteParameterValue/05.png" alt="">
<img src="/assets/img/ang16/93RetrievingRouteParameterValue/06.png" alt="">
<p>
 we han another observable called paramMap
</p>
<img src="/assets/img/ang16/93RetrievingRouteParameterValue/07.png" alt="">
<img src="/assets/img/ang16/93RetrievingRouteParameterValue/08.png" alt="">





