<img src="/assets/img/ang16/91navigating-between-routes-programmatically/01.png" alt="">
<img src="/assets/img/ang16/91navigating-between-routes-programmatically/02.png" alt="">
<img src="/assets/img/ang16/91navigating-between-routes-programmatically/03.png" width="100%" alt="">
<img src="/assets/img/ang16/91navigating-between-routes-programmatically/04.png" alt="">
<img src="/assets/img/ang16/91navigating-between-routes-programmatically/05.png" width="100%" alt="">
<img src="/assets/img/ang16/91navigating-between-routes-programmatically/06.png" alt="">
<img src="/assets/img/ang16/91navigating-between-routes-programmatically/07.png" alt="">
<img src="/assets/img/ang16/91navigating-between-routes-programmatically/08.png" alt="">







