<img src="/assets/img/ang16/114readingformcontrolvalues/01.png" alt="">
<img src="/assets/img/ang16/114readingformcontrolvalues/02.png" alt="">
<p>
 in this controls property wee need to have al these controls[inputs]
</p>
<img src="/assets/img/ang16/114readingformcontrolvalues/03.png" alt="">
<p>
 this value property is an object and in this object we should have 
 a property for each of this controls and the value eneterd in that control
</p>
<p class="mark">
 in order to see all these controls inside this controls property 
 and also value stored in that controles inside this valuee property <br>
 we need to do two things
</p>
<ol>
 <li>
  on each of these form controls we need to add a name attribute <br>
  <p class="mark3">
   it is with this name the form controls will be created in the ngForm object
  </p>
 </li>
 <li>
  on each of these input elements we also need to add ngModel directive, 
  earlier we used it for two-way data-binding, but here we are not 
  going to use it for two-way data binding, <br>
  <p class="mark2">
   here we we simply going to use this NgModel to tell Angular that this input 
   element it is a control for this fform
  </p>
 </li>
</ol>
<img src="/assets/img/ang16/114readingformcontrolvalues/04.png" alt="">
<img src="/assets/img/ang16/114readingformcontrolvalues/05.png" alt="">
<img src="/assets/img/ang16/114readingformcontrolvalues/06.png" alt="">


















