<h4>
 We have seen that we can use the selector of a component like an
  HTML element. And wherever we use it, there the view template 
  of component is rendered. 
 <br><br>
 But apart from using a selector like an HTML tag, we can also
 use it like HTML attribute or CSS class. In this lecture, you 
 are going to learn what are the different ways in which we can 
 use the selector of a component.
</h4>
<h2>
 How we can use the selector of a component like an HTML attribute
 or like a CSS class
</h2>
<img src="/assets/img/ang16/13selectorType/01.png" width="100%" alt="">
<app-carousel [images]="images"></app-carousel>
