<h2>What is router guard</h2>
<p class="descrip">
 Angular route guards can be used to control whetether the user can
 navigate to or away from the given route based on some condition
</p>
<p class="descrip">
 In simple terms angular route guards helps us to secure the route
 or to perform some action before navigating into a route or leaving the route
</p>
<h4>Types of Route Guards</h4>
<ul>
 <li>CanActivate</li>
 <li>CanDeactivate</li>
 <li>Resolve</li>
 <li>CanLoad</li>
 <li>CanActivateChild</li>
</ul>








