<img src="/assets/img/ang16/60service/01.png" alt="">
<h4>
 In simple words, a service in Angular is simply a TypeScript 
 class which provides some re-usable code that can be used in
 multiple components. Let's understand it with some simple examples.
</h4>
<img src="/assets/img/ang16/60service/02.png" width="100%" alt="">
<p>after clicking in button</p>
<img src="/assets/img/ang16/60service/03.png" width="100%" alt="">
<hr>
<img src="/assets/img/ang16/60service/04.png"  alt="">
<img src="/assets/img/ang16/60service/05.png"  alt="">
<img src="/assets/img/ang16/60service/06.png"  alt="">











