<h2>Creating and Using Reactive Forms</h2>
<p class="summary">
 Reactive forms are defined in a typescript class.
 <br><br>
 Unlike template-driven form, we define the structure of a 
 reactive form in typescript class. Even the validation of 
 a reactive form is done in typescript class. We still need 
 to create the form using HTML but we can connect the HTML
  form with the reactive form defined in typescript class
   using formGroup directive.
   <br><br>
 Also, we define the form controls for a reactive form in the 
 typescript class using FormControl class. and we can also set 
 some default value for each form control by passing a default 
 value to the FormControl() constructor.
</p>
<img src="/assets/img/ang/forms/reactive/1/01.png" alt="">






