<h2>Component interaction [փոխազդեցություն]</h2>
<h4>
 How we can pass the data from one component to another component
</h4>
<img src="/assets/img/ang16/n67componentinteraction/01.png" alt="">
<img src="/assets/img/ang16/n67componentinteraction/02.png" width="100%" alt="">
<img src="/assets/img/ang16/n67componentinteraction/03.png" alt="">
<img src="/assets/img/ang16/n67componentinteraction/04.png" alt="">
<img src="/assets/img/ang16/n67componentinteraction/05.png" alt="">
<img src="/assets/img/ang16/n67componentinteraction/06.png" alt="">





















