<h2>Resetting - Сброс</h2>
<p class="mark">
 In this lecture you will learn how to reset a template driven form to its 
 initial state after the form is submitted. To reset a template driven form,
 we can call reset() method on NgForm object.
</p>
<p>
 В этой лекции вы узнаете, как вернуть форму, управляемую шаблоном, в исходное 
 состояние после ее отправки. Чтобы
  сбросить форму, управляемую шаблоном, мы можем вызвать метод reset()
   для объекта NgForm.
</p>
<img src="/assets/img/ang16/121RessetingaTemplateDrivenForm/01.png" alt="">
<img src="/assets/img/ang16/121RessetingaTemplateDrivenForm/02.png" alt="">










