<img src="/assets/img/ang16/86implementingrouting/10.png" width="85%" alt="">
<hr><hr>
<br>
<img src="/assets/img/ang16/86implementingrouting/01.png" width="100%" alt="">
<br>
<p>86</p>
<img src="/assets/img/ang16/86implementingrouting/02.png" alt="">
<img src="/assets/img/ang16/86implementingrouting/03.png" width="100%" alt="">
<br>
<img src="/assets/img/ang16/86implementingrouting/04.png" alt="">
<p>
 And in order to register these routes we need to in the imports array,
 we need to import router module, and again in rder to use this router 
 module we need to import it from angular/router 
</p>
<img src="/assets/img/ang16/86implementingrouting/05.png" alt="">
<p class="mark">
 And on this router module, after we have imported it, we need to call forRoot 
 method
</p>
<img src="/assets/img/ang16/86implementingrouting/06.png" alt="">
<p>
 so here you can see that we have two methods forChild and forRoot
</p>
<p class="mark2">
 The forRoot method simply tells that the route which we are 
 going to pass to this forRoot method it is defined for the
 entire application <br>
 and to this forRoot method we need to pass our route  <br>
 and we are storing our routes inside the routes 
 variable
</p>
<p class="mark3">
 If we use forChild method using that we can define routes for the 
 feature modules
</p>
<img src="/assets/img/ang16/86implementingrouting/07.png" alt="">
<br>
<img src="/assets/img/ang16/86implementingrouting/08.png" alt="">
<p class="mark">
 router-outlet this directive is simply tells angular that it has to 
 render the view at this pl
</p>
<hr><br>
<img src="/assets/img/ang16/86implementingrouting/09.png" alt="">
<p>
 when we will delete url it will redirect us to home component
</p>
<img src="/assets/img/ang16/86implementingrouting/10.png" width="85%" alt="">























