<h2>
 We have learned about components and we have learned that a component has a TypeScript 
 class & a view template. !!!!!!!!!!!!
</h2>
<h4>Another very important feature of an Angular component is how 
 component class communicates with view template & vice-versa. This is called a data binding. 
 In this lecture let's have a high level overview of what is data binding.
</h4>
<img src="/assets/img/ang16/14dataBinding/01.png" width="100%" alt="">
<img src="/assets/img/ang16/14dataBinding/02.png" width="100%" alt="">
<img src="/assets/img/ang16/14dataBinding/03.png" width="100%" alt="">








