<p class="mark2">
 The CanActivatechild route guard is very similar to CanActivate
  route guard. We apply this guard to the parent route. The Angular
   invokes this guard whenever the user tries to navigate to any of
    its child route. This allows us to
  check some condition and decide whether to proceed with the
   navigation or cancel it
</p>
<img src="/assets/img/ang16/102CanActivateChildRouteGuard/001.png" alt="">
<br><hr><hr><br>
<img src="/assets/img/ang16/102CanActivateChildRouteGuard/01.png" alt="">
<img src="/assets/img/ang16/102CanActivateChildRouteGuard/02.png" alt="">
<img src="/assets/img/ang16/102CanActivateChildRouteGuard/03.png" alt="">
<img src="/assets/img/ang16/102CanActivateChildRouteGuard/04.png" alt="">
<img src="/assets/img/ang16/102CanActivateChildRouteGuard/05.png" alt="">
<img src="/assets/img/ang16/102CanActivateChildRouteGuard/06.png" alt="">
<img src="/assets/img/ang16/102CanActivateChildRouteGuard/07.png" alt="">





