<img src="/assets/img/ang16/119GroupingofFormControlsTemplatesDriven/01.png" alt="">
<img src="/assets/img/ang16/119GroupingofFormControlsTemplatesDriven/02.png" alt="">
<img src="/assets/img/ang16/119GroupingofFormControlsTemplatesDriven/03.png" alt="">
<img src="/assets/img/ang16/119GroupingofFormControlsTemplatesDriven/04.png" alt="">
<img src="/assets/img/ang16/119GroupingofFormControlsTemplatesDriven/05.png" alt="">
<h2>120 setvalue and patchValue method | Template Driven Form</h2>
<img src="/assets/img/ang16/119GroupingofFormControlsTemplatesDriven/06.png" alt="">
<img src="/assets/img/ang16/119GroupingofFormControlsTemplatesDriven/07.png" alt="">
<img src="/assets/img/ang16/119GroupingofFormControlsTemplatesDriven/08.png" alt="">
<img src="/assets/img/ang16/119GroupingofFormControlsTemplatesDriven/09.png" alt="">
<p class="mark3">
 To this patchValue we also need to pass an object, but in this object we only need 
 to specify that field which we want to update
</p>
<img src="/assets/img/ang16/119GroupingofFormControlsTemplatesDriven/10.png" alt="">

