<p class="descrip">
 мы работаем с locale storrage и допустим наше приложение 
 открыто в разных вкладках, то мы можем это все синхронизировать
 с помощью специальных собитый которие может прослушивать обьект
 window для locale storrage  
</p>
<app-carousel [images]="images"></app-carousel>
<p>
 это собитие вызывается в том случае если во вкладке того 
 же самого домена происходит запись в locale storrage причем в
 другой вкладке
</p>
<p>
 1-ая вкладка сделаем setItem() в locale storrage
 <br>во второй вкладке во время этого происходит этот event
</p>
<app-carousel [images]="images2"></app-carousel>


