<h2>So basically using host listener decorator we can 
 listen to events on a host element and we can react 
 to that event accordingly by executing some event handler function
</h2>

<img src="/assets/img/ang16/49hostlistner/01.png" width="100%" alt="">
<p>
 whenever the mouse enter  event will happen we want to  zoom 
 in the product <br>
 and  whenever the mouse out event will happen we want to zoom out 
 the product
</p>
<p class="descrip">
 we want to lsten mouse enter and mouse out event
</p>

<img src="/assets/img/ang16/49hostlistner/02.png" width="100%" alt="">
<img src="/assets/img/ang16/49hostlistner/03.png" width="100%"  alt="">
<img src="/assets/img/ang16/49hostlistner/04.png" width="100%"  alt="">
<p class="descrip">
 but how will angular know which event handler method to execut OnMouseEnter
 and which event handler to execute OnMouseOut -> for that we are going 
 to use host listener docorator 
</p>
<h4>
 so we can decorate this method with HostListenner decorator
</h4>
<app-carousel [images]="images"></app-carousel>








