<img src="/assets/img/ang16/71RxJfroOperator/01.png" width="100%" alt="">
<p class="mark">
 And once all the arguments have been emmited the off operator also sends 
 the complete signal at the end
</p>
<img src="/assets/img/ang16/71RxJfroOperator/02.png"   alt="">
<p>result</p>
<img src="/assets/img/ang16/71RxJfroOperator/04.png"   alt="">
<p>--------------------------------------------</p>
<img src="/assets/img/ang16/71RxJfroOperator/03.png"  width="100%"  alt="">
<img src="/assets/img/ang16/71RxJfroOperator/05.png"   alt="">
<p>result</p>
<img src="/assets/img/ang16/71RxJfroOperator/06.png"   alt=""><br>
<img src="/assets/img/ang16/71RxJfroOperator/07.png"   alt="">
<h2>
 If you want to convert a promise to an observable, then 
 this from operator is the best way to do that
</h2>
<img src="/assets/img/ang16/71RxJfroOperator/08.png"   alt="">
<img src="/assets/img/ang16/71RxJfroOperator/09.png"   alt="">































