<h2>
 The fromEvent operator allows us to create an observable 
 from a DOM event
</h2>
<img src="/assets/img/ang16/72fromeventoperator/01.png" alt="">
<img src="/assets/img/ang16/72fromeventoperator/02.png" alt="">
<img src="/assets/img/ang16/72fromeventoperator/03.png" width="100%" alt="">
<p>------------------------------------------------</p>
<p>---------------------------------------------</p>
<img src="/assets/img/ang16/72fromeventoperator/04.png" width="100%" alt="">
<img src="/assets/img/ang16/72fromeventoperator/05.png" width="100%" alt="">
<p>---------------------------------------------</p>
<p>------------------------------------------</p>
<img src="/assets/img/ang16/72fromeventoperator/06.png" width="100%" alt="">
<img src="/assets/img/ang16/72fromeventoperator/07.png" width="100%" alt="">
<p>result</p>
<img src="/assets/img/ang16/72fromeventoperator/08.png" alt=""><br>
<img src="/assets/img/ang16/72fromeventoperator/09.png" alt="">
<p>
 every time when we clicking in the button the new div with inner text item will 
 be create
</p>
















