<img src="/assets/img/ang16/124IntroductiontoReactiveForms/01.png" alt="">
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/02.png" alt="">
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/03.png" width="100%" alt="">
<p class="mark">
 first thing that we need to do it is in app.module.ts import ReactiveFormsModule
</p>
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/04.png" alt="">
<h4>
 now in a reactive form we define the form structure in the component class
</h4>
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/05.png" alt="">
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/05.png" alt="">
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/07.png" alt="">
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/08.png" alt="">
<p class="mark2">
 now we need to connect [соединять] this reactiveForm -> this formGroup 
 which we have created here to the HTML form which we have defined 
 in our view template <br>
 for that on this form html element we need to use a directive and that 
 directive is formGroup 
</p>
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/09.png" alt="">
<p class="mark3">
 and to this formGroup directive we want to assign this reactiveForm property
</p>
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/10.png" alt="">
<p class="mar">
 so here we need to do property binding for that we need to use square brackets []
</p>
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/11.png" alt="">
<p class="mark3">
 and we also need to connect this form controls to the 
 respective [соответствующий] controls in the html form
</p>
<h4>
 for that on each of these form controls we need to use another directive 
 called formControlName, and to this we need to assign the form ontrol which we 
 want this element connect to
</h4>
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/12.png" alt="">
<br><hr><br>
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/13.png" alt="">
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/14.png" alt="">
<img src="/assets/img/ang16/124IntroductiontoReactiveForms/15.png" alt="">



