.choose, .chooseMobile2 {
    border-right: 1px solid white;
    padding: 11px 15px 0 10px;
    width: 22%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #303030;
}
.chooseMobile {
    display: none;
}
.choose a, .chooseMobile2 a {
    display: block;
    padding: 5px 6px;
    background-color: lightslategray;
    border-radius: 9px;
    margin-bottom: 6px;
    /* text-align: center; */
    box-shadow: 1px 2px 3px 0px #ffffff29;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
}
.choose a:hover, .chooseMobile2 a:hover {
    background-color: darkgray;
    /* transform: scale(1.05); */
    border: 1px dashed #ffffff82;
}
p {
    width: 65%;
    margin-bottom: 25px;
}
.content {
    margin-left: 301px;
    display: flex;
    justify-content: space-between;
}
.cont {
    padding: 15px;
    padding-top: 58px;
    width: 79%;
}
.path {
    width: 20%;
    padding-top: 83px;
}
/* ---------------BUTTON---------------------------------- */
button span {
    display: inline-block;
}
.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}
.default {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}
/* -------------------------------------------------------- */
.pathA {
    text-decoration: none;
    padding: 5px 0 3px 14px;
    display: inline-block;
    font-size: 14px;
    border-left: 1px solid white;
}
ul, ol {
    padding: 0 6px;
}
.buttonA {
    background-color: #828385 !important;
    font-weight: 900;
    font-style: 17px;
}

/* -------------------------------------------------- */
@media only screen and (max-width: 2560px){
    .choose a, button {
        font-size: 24px;
    }
    .choose {
        width: 22%;
    }
    .content {
        margin-left: 22%;
    }
    * {
        font-size: 27px;
    }
}
@media only screen and (max-width: 2160px){
    .pathA {
        font-size: 18px;
    }
    .choose {
        width: 22%;
    }
    .choose a, button {
        font-size: 23px;
    }
    .content[_ngcontent-ng-c2105455472] {
        margin-left: 22% !important;
    }
}
@media only screen and (max-width: 1760px){
    .choose a, button {
        font-size: 20px;
    }
    * {
        font-size: 20px;
    }
}
@media only screen and (max-width: 1420px){
    .choose a, button, * {
        font-size: 14px;
    }
    .pathA {
        font-size: 12px;
    }
}
@media only screen and (max-width: 1220px){
    .choose a, button, * {
        font-size: 13px;
    }
    .pathA {
        font-size: 11px;
    }
}
@media only screen and (max-width: 766px){
    .path {
        display: none;
    }
    .cont[_ngcontent-ng-c2105455472] {
        padding: 15px;
        padding-top: 69px;
        width: 100% !important
    }
    .choose {
        display: none !important;
    }
}



