<h2>#01 Introduction to Angular | Getting Started with Angular </h2>
<p>
 Anghular is one of the most popular JavaScript
 framework for building client side applications
</p>
<p>
 Anfular is a JavaScript Framework which allows us to create a single 
 page applications (SPA)
</p>
<p class="descrip">
 A single page application is a web application, which has only one html 
 page. When we navigate around, only the content of that HTML page changes.
 The page itself never changes.  And also the content is changed by 
 JavaScript dynamically, whenever we are navigating around we 
 are not requesting any data from  the server, JavaScript is simply changing the content 
 based on the resource which we have requested 
</p>
<img src="/assets/img/ang16/01.png" alt="">
<p>-----------------</p>
<img src="/assets/img/ang16/02.png" alt="">
<p>
 it is rendering app comoponent
</p>
<img src="/assets/img/ang16/03.png" alt="">
<p>
 the value of selector can be used like a html tag
</p>
<p class="descrip">
 wherever we will use this app-root there, the content of 
 this HTML fill will be rendered
</p>



