<p>
 validation for email input
</p>
<img src="/assets/img/ang/forms/templateDrVal/01.png" alt="">
<p>
 if the form is not valid we want to disable the submit button
</p>
<img src="/assets/img/ang/forms/templateDrVal/02.png" alt="">
<p>if we watch in web tools we can see it</p>
<img src="/assets/img/ang/forms/templateDrVal/03.png" alt="">
<img src="/assets/img/ang/forms/templateDrVal/04.png" alt="">
<img src="/assets/img/ang/forms/templateDrVal/05.png" alt="">
<p>so we can use it</p>
<img src="/assets/img/ang/forms/templateDrVal/06.png" alt="">
<p>-------------</p>
<img src="/assets/img/ang/forms/templateDrVal/07.png" alt="">








