<img src="/assets/img/ang16/16propertyBinding/01.png" alt="">
<img src="/assets/img/ang16/16propertyBinding/02.png" alt="">
<h4>for html attributes like disabled, hidden, checked 
 for these three html attributes the string interpolation syuntax will
 not work, for that we need to use property binding syntax
</h4>
<img src="/assets/img/ang16/16propertyBinding/03.png" alt="">
<img src="/assets/img/ang16/16propertyBinding/04.png" alt="">
<p>the syntax</p>
<img src="/assets/img/ang16/16propertyBinding/05.png" alt="">



