<!-- <div class="h2"> -->
 <h2>:id [Route parameter] </h2>
 <!-- <div class="lc">    
     <p class="m"  (click)="changeId(false)">-</p>
     <p class="p" (click)="changeId(true)">+</p>
 </div> -->
<!-- </div> -->
<!-- <div class="b" [ngClass]="{'disp': id}">
 <app-carousel [images]="images" ></app-carousel>
</div> -->
<div class="b generalCont" >
 <div class="pCont">
     <p>ID Value: {{ id }}</p>
     <app-carousel [images]="images"></app-carousel>
     <img src="/assets/img/ang/routing/001.png" alt="">
     <p>
         the value for this id parameter is required!<br>
         If we dont pass the value for this id parameter, we will get an  error
     </p>
 </div> 
</div>

