<br>
<img src="/assets/img/ang16/68observable/01.png" width="100%" alt="">
<p class="mark3">
 we also use a promise to handle an asynchronous data
</p>
<h2>Asynchronous operation</h2>
<img src="/assets/img/ang16/68observable/02.png" width="100%" alt="">
<p>execution [կատարումը]</p>
<p class="mark2">
 and once the execution of one code is complete, rhen only the 
 next line of code in the program wiil be executed
</p>
<p class="mark3">
 so if the code or task takes long time in its execution, then 
 the next line of code will have to wait for its execution
</p>
<img src="/assets/img/ang16/68observable/03.png" width="100%" alt="">
<img src="/assets/img/ang16/68observable/04.png" width="100%" alt="">
<h4>RxJS  library uses Observable pattern</h4>
<img src="/assets/img/ang16/68observable/05.png" width="100%" alt="">
<div class="mark3">
 Observable will emit an event whenever somethin happens
</div>
<p class="mark">
 this Observer it is going to listen for that event to happen
</p>
<div class="mark2">
 and when that event happens The Observer can handle that event using
 event Handler
</div>
