<img src="/assets/img/ang16/113introduction-to-template-driven-form/01.png" width="100%" alt="">
<img src="/assets/img/ang16/113introduction-to-template-driven-form/02.png" width="100%" alt="">
<img src="/assets/img/ang16/113introduction-to-template-driven-form/03.png" width="100%" alt="">
<h4>
 first thing which we need to do is import FormsModule from angular/forms
 <br>
 that's because this forms module is a library which provides us with some 
 methods and also some directives which we can use on a form 
 in order to work with it
</h4>
<img src="/assets/img/ang16/113introduction-to-template-driven-form/04.png" alt="">
<img src="/assets/img/ang16/113introduction-to-template-driven-form/05.png" width="100%" alt="">
<img src="/assets/img/ang16/113introduction-to-template-driven-form/06.png" alt="">
<img src="/assets/img/ang16/113introduction-to-template-driven-form/07.png" alt="">
<img src="/assets/img/ang16/113introduction-to-template-driven-form/08.png" alt="">
<br><hr><br><hr>
<img src="/assets/img/ang16/113introduction-to-template-driven-form/09.png" alt="">
<img src="/assets/img/ang16/113introduction-to-template-driven-form/10.png" alt="">
<br><hr><br><hr>
<img src="/assets/img/ang16/113introduction-to-template-driven-form/11.png" alt="">
<img src="/assets/img/ang16/113introduction-to-template-driven-form/12.png" alt="">
<img src="/assets/img/ang16/113introduction-to-template-driven-form/13.png" alt="">
<img src="/assets/img/ang16/113introduction-to-template-driven-form/14.png" alt="">






















