<p>
 impure pipes are for every change detection cycle
 <br>// предназначены для каждого цикла обнаружения изменений //
</p>
<p class="descrip">
 The impure pipes are those pipes which are executed for every change detection
  cycle even if there is no change in the source data.
  Due to this impure pipes are very costly performance wise and should avoid 
  using impure pipes <br>
  Անմաքուր խողովակներն այն խողովակներն են, որոնք կատարվում են փոփոխության հայտնաբերման
   յուրաքանչյուր ցիկլի համար, նույնիսկ եթե աղբյուրի տվյալների փոփոխություն չկա: Դրա 
   շնորհիվ անմաքուր 
  խողովակները շատ ծախսատար են և պետք է խուսափեն անմաքուր խողովակների օգտագործումից
</p>
<p>&#125;</p>
<p>&#123;</p>
<p>&#64;</p>
<div class="preToolbar">
  <button (click)="changeCode('one')">app.component.ts</button>
  <button (click)="changeCode('two')">app.component.html</button>
  <button (click)="changeCode('three')">percentage.pipe.ts</button>
  <button (click)="changeCode('fopur')">filter.pipe.ts</button>
</div>
<pre>
 <code class="language-js" [ngClass]="{'static': one}">
  app.component.ts
  import &#123; Component &#125; from '&#64;angular/core';
import &#123; CommonModule &#125; from '&#64;angular/common';
import &#123; RouterOutlet &#125; from '&#64;angular/router';
import &#123; Student &#125; from './student';
import &#123; StudentsService &#125; from './students.service';
import &#123; FormsModule &#125; from '&#64;angular/forms';
import &#123; FilterPipe &#125; from './filter.pipe';
import &#123; PercentagePipe &#125; from './percentage.pipe';

&#64;Component(&#123;
  selector: 'app-root',
  standalone: true,
  imports: [CommonModule, RouterOutlet, FormsModule, FilterPipe,
    PercentagePipe],
  templateUrl: './app.component.html',
  styleUrl: './app.component.css'
  &#125;)
export class AppComponent &#123;
  title &#61; 'AngularPipes2';
  students!: Student[];
  totalMarks!: number;
  filterString: string &#61; '';
  constructor(private studentService: StudentsService)&#123;&#125;

  ngOnInit(): void &#123;
    this.students &#61; this.studentService.students;
    this.totalMarks &#61; this.studentService.totalMarks;
    &#125;
  // app.component.ts
  AddDummyStudent()&#123;
    this.students.push(&#123; name: 'TEST', course: 'TEST', marks: 520,
    DOB: new Date('11-12-1997'), gender: 'Female'&#125;,)
    &#125;

  ChangeGender()&#123;
    this.students[0].gender &#61; 'Female'
    &#125;
  onMouseMove()&#125;&#125;
  &#125;

 </code>
 <code  class="language-html" [ngClass]="{'static': two}">
  &lt;p&gt;app.component.html &lt;/p&gt;
   &lt;div class&#61;"container"&gt;
     &lt;div&gt;
       &lt;input type="text" placeholder="Search by gender"
       style="width: 450px; padding: 2px 20px; 
       margin: 10px 0; height: 30px;"&gt;
     &lt;/div&gt;
     &lt;p &gt;Filter String: &#125;&#125; filterString &#125;&#125; &lt;/p &gt;
     &lt;table id="student" (mousemove)="onMouseMove()" &gt;
     &lt;tr &gt;
     &lt;th&gt;Name &lt;/th&gt;
     &lt;th&gt;Course &lt;/th&gt;
     &lt;th&gt;Marks &lt;/th&gt;
     &lt;th&gt;Percentage &lt;/th&gt;
     &lt;th&gt;DOB &lt;/th&gt;
     &lt;th&gt;Gender &lt;/th&gt;
       &lt;/tr&gt;
       &lt;tr *ngFor="let std of students | filterStudent : filterString"&gt;
       &lt;td&gt;&#123;std.name&#125;&#125;&lt;/td&gt;
       &lt;td&gt;&#123;std.course&#125;&#125;&lt;/td&gt;
       &lt;td&gt;&lt;input type="number" value="std.marks" [(ngModel)]="std.marks"&gt;&lt;/td&gt;
       &lt;td&gt;&#123;std.marks | percentage : totalMarks : 3&#125;&#125;&lt;/td&gt;
       &lt;td&gt;&#123;std.DOB | date: 'fullDate'&#125;&#125;&lt;/td&gt;
       &lt;td&gt;&#123;std.gender | uppercase&#125;&#125;&lt;/td&gt;
       &lt;/tr&gt;
       &lt;/table&gt;&lt;br&gt;
       &lt;button (click)="AddDummyStudent()"&gt;Add Student&lt;/button&gt;&lt;br&gt;
       &lt;button (click)="ChangeGender()"&gt;Change gender&lt;/button&gt;
   &lt;/div&gt;
 </code>
 <code class="language-js" [ngClass]="{'static': three}">
  import &#123; Pipe, PipeTransform &#125; from "&#64;angular/core";

  &#64;Pipe(&#123;
 name: 'percentage',
 standalone: true,
 pure: false
 &#125;)

export class PercentagePipe implements PipeTransform &#123;
 transform(value: number, totalMarks: number, decimal: number) &#123;
  console.log('Percentage pipe called');
  
  return (value / totalMarks * 100).toFixed(decimal) + '%';
  &#125;

  &#125;

 </code>
 <code class="language-js" [ngClass]="{'static': four}">
  filter.pipe.ts 
  import  &#123; Pipe, PipeTransform &#125; from "&#64;angular/core";
import &#123; Student &#125; from "./student";
// &#64;Pipe(&#123;&#125;) -> decorator
&#64;Pipe(&#123;
 name: 'filterStudent',
 standalone: true,
 pure: false
 &#125;)

export class FilterPipe implements PipeTransform &#123;
 transform(students: Student[], filterText: string) &#123;
  console.log('Filter pipe called');
  
  if(students.length === 0 || filterText === '')&#123;
   return students;
   &#125; else &#123;
   return students.filter((student) => &#123;
    // return student.gender.toLowerCase() === filterText.toLowerCase()
    if(filterText == 'male')&#123;
     return student.gender.toLowerCase() === filterText.toLowerCase();
     
     &#125;
    return student.gender.toLowerCase().includes(filterText.toLowerCase()) 
    &#125;)
    &#125;
    &#125;
    &#125;
 </code>
</pre>
<p class="descrip">
  whenever I'm moving my mouse over this table this filter pipe is getting called, 
  and BECAUSE of this an impure pipe is not good for performance //производительность //
  արտադրողականություն// and this is the reason why angular team recommends not to use pipe to
  filter and sord data
</p>
<p class="imp">
  [---]if we use pure pipe for filtering or sorting data in that case the result will 
  not be as expected <br>
  [---]And if the pipe is impure pipe in that case sorting and filtering will work properly // ճիշտ
  but it will significantly impact the performance of the application 
  // դա էականորեն կազդի հավելվածի աշխատանքի վրա
</p>
<br><br><br><br>