<h2>Two way Data Binding</h2>
<img src="/assets/img/ang16/18twoWayDataBinding/01.png" width="100%" alt="">
<h4>
 whenever we change a property in the component class the 
 changed value will reflect [արտացոլել] in the view, and <br>
 in the view whenever we change the value that change value will 
 be assigned [նշանակված] to the property of the component class
</h4>
<img src="/assets/img/ang16/18twoWayDataBinding/02.png"  alt=""><br>
<img src="/assets/img/ang16/18twoWayDataBinding/03.png" alt=""> 
<p>for that we need to import formsmodsule from angular/forms</p>
<img src="/assets/img/ang16/18twoWayDataBinding/04.png" alt="">














