<h2>Passing Fragments to Route </h2>
<div class="queryParam generalCont">
    <div class="pCont">
        <h3 >hoq to Pass Fragments to Route</h3>
        <div class="h3cont" >
            <div class="h3cont__body">
                A fragment in URL is a link which jumps to a section or a content in HTML page
                which contains th ID mentioned in a fragment. A fragment comes after # sign
                <p>
                    localhost:4200/Products#service
                </p>
                <p>
                    this url will take us to the service section of that html page
                </p>
                <p>
                    For all this we need to have app.component.html
                </p>
                <img src="/assets/img/ang/routing/1-13.png" alt="">
                <p>the view oh website</p>
                <video src="/assets/img/ang/routing/001.mp4" controls width="80%"></video>
                <div>
                    app-home idHomeapp-home <br>
                    app-about idAboutapp-about <br>
                    app-contact id=Contactapp-contact <br>
                    app-course id=Courseapp-course <br>
                </div>
                <img src="/assets/img/ang/routing/1-15.png" alt=""><br>
                <p>before clicking in a tag</p>
                <img src="/assets/img/ang/routing/1-16.png" alt=""><br>
                <p>after clicking in a tag</p>
                <img src="/assets/img/ang/routing/1-17.png" alt=""><br>
            </div>
        </div>
        <h3 >hoq to retrieve Fragments to Route</h3>
        <div class="h3cont">
            <div class="h3cont__body">
                <img src="/assets/img/ang/routing/1-18.png" alt=""><br>
                <p>And everytime when we clicking in the on of that links, in console
                    we have log the link fragmen in which we have clicked
                </p>
                <video src="/assets/img/ang/routing/222.mp4" controls width="80%"></video>
                <p>let's create a method and call it jumpTo</p>
                <p>to this jumpTo methos we will pass a section</p>
                <img src="/assets/img/ang/routing/1-19.png" alt=""><br>
                <img src="/assets/img/ang/routing/1-20.png" alt=""><br>
                <p>And the result</p>
                <video src="/assets/img/ang/routing/334.mp4" controls width="80%"></video>
            </div>
        </div>
        
    </div>
</div>