<h4>Node modules folder</h4>
<p>
 patrasrti gradaranneri kodern
</p>

<p class="descrip">
 ete node modules papken jnjvel e npm i -> npm install
</p>
<h4>package-lock.json</h4>
<p>
 erbor package jsoni mej inch popoxutyun erir ira mej istoryaov kpahe
</p>
<h4>angular.json</h4>
<p>
 Yndhanur angular proyekti sax nastroykekn <br>
 all configuration of angular project
</p>
<h4>
 tsconfig.json 
</h4>
<p>
 it basically contains a bunch of settings for yout typescript 
 compilier, and typescript compilier look at these settings And
 based on this settings it is going to compile your ts codec into js 
</p>