<img src="/assets/img/ang16/43ngadtercontentchecked/01.png" width="100%" alt="">
<h4>
 the difference between ngAfterContentInit and ngAfterContentChecked is 
 -> ngAfterContentInit lifecycle hook is only gets called during the 
 first change detection cycle after the projected content has been initialized 
 [սկզբնավորվել] <br>
 BUT this ngAfterContentChecked hook it gets called during the first change detection cycle 
 and also doing every change detection cycle 
</h4>
<img src="/assets/img/ang16/43ngadtercontentchecked/02.png" alt="">
<img src="/assets/img/ang16/43ngadtercontentchecked/03.png"  alt="">
<p>
 and when the projected content has changed ngAfterContentChecked will called
</p>


















